{{#partial "content"}}


<h5><u>Heroes</u></h5>
    {{#if allHeroes}}
            {{#each allHeroes}}
            <li class="list-group-item">{{name}} - <a href="/hero/{{id}}">View Details</a></li>
            {{/each}}
    {{else}}
    <p>No available heroes-<a href="/hero/new">register a hero</a>.</p>
    {{/if}}
    <h5><u>Squads</u></h5>
    {{#if allSquads}}
            {{#each allSquads}}
            <li class="list-group-item">{{name}} - <a href="/squad/">View Details</a></li>
            {{/each}}
        </ul>
    {{else}}
    <p>No available squads- <a href="/squad/new">register a squad</a></li></p>
    {{/if}}

        {{/partial}}

        {{> layout.hbs}}